:8080 {
  encode zstd gzip

  @api path /api/*
  handle @api {
    reverse_proxy api:3000
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }

  @pwa path /sw.js /manifest.webmanifest
  header @pwa Cache-Control "no-cache"

  @android_apk path /downloads/*.apk
  header @android_apk {
    Cache-Control "no-cache"
    Content-Disposition "attachment; filename=Daymark-Display.apk"
    Content-Type "application/vnd.android.package-archive"
  }
  header X-Content-Type-Options "nosniff"
  header Referrer-Policy "same-origin"
}
